body{
    font-family: 'Poppins', sans-serif;
}

/* top-banner */

.top-banner-main{
    display: flex;
    justify-content: center;
}

.top-banner{
   background-color: black;
   display: flex;
   width: 90%;
   justify-content: space-around;
   border-radius: 20px;
   padding-top: 20px;
   padding-bottom: 100px;
   margin-top: 30px;
}

.top-banner h1{
    font-size: 4em;
    color: white;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0;
}

.top-banner p{
    color: white;
    font-size: .75em;
    margin-bottom: 30px;
}

.top-banner a{
    background-color: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 3px;

}

.top-banner img{
    width: 100%;
}

.fa-solid{
    color: white;
}


/* upcoming match */

.upcoming-match-fixture {
    display: flex;
    margin: 80px;
    width: 90%;
}

/* side bar styles */
.side-menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-top: 90px;
    margin-right: 24px;
}

.side-bar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 30px;


}

.side-bar-btn {
    width: 252px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
}

.side-bar-btn a{
    text-decoration: none;
    color: black;
    
}

.side-bar-btn-different {
    color: white;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    background-color: #DD0000;
}

/* blogs */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 90px;

}

.blog {
    width: 262px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding-bottom: 20px;
}

.Transfer-Button {
    width: 100px;
    height: 32px;
    border: .1 px solid #161616;
    border-radius: 5px;
    background-color: white;
}

.banner img {
    width: 262px;
    height: 175px;
    margin-bottom: 20px;
}

.blog-info {
    padding-left: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.reply-icon {
    padding-right: 80px;
}

.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: orange;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 50px;
   
}

/* footer styles */

footer {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: #ffffff;
    background-color: black;
}



hr {
    border: 1px solid rgb(75, 74, 74);
    width: 80%;
    margin-bottom: 20px;
}

.footer-menu {
    display: flex;
    justify-content: center;

}

.nav {
    margin-left: 25px;
    font-size: 10px;
    font-size: 14px;
}

/* responsive */
/* tablet */
@media only screen and (max-width: 768px) {
   
    .upcoming-match-fixture{
        display: block;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (min-width: 768px) {
    .btn{
        display: none;
    }
}

    @media only screen and (max-width: 576px) {
   
        .upcoming-match-fixture{
            display: block;
        }
        .blogs{
            grid-template-columns: repeat(1, 1fr);
        }
    }